
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>文章新增 - addArticle.html</title>

<head th:insert="~{/front-end/forum/included-fragment}"></head>
<style type="text/css">

	body {
  	padding-top: 150px; /* 調整這個值以匹配您的導航欄高度 */ 	  	
	}
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>文章新增 - addArticle.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/article/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{insert}" method="post" th:object="${article}" enctype="multipart/form-data">
			
			
			
		<!-- 記得加入登入後才能發文的驗證機制 -->	
			
			<div>
			<label>文章版塊:</label>
			<select th:field="*{board.boardID}">
				<option th:each="board : ${boardListData}" th:value="${board.boardID}" th:text="${board.boardName}" />
			</select>
			<span th:if="${#fields.hasErrors('board.boardID')}" th:errors="*{board.boardID}" class="error" id="board.boardID.errors"></span>
			</div>
			
			<div>
			<label>文章類型:</label>
			<select th:field="*{articleCategory}">
			    <option th:each="category : ${articleCategories}" th:value="${category}" th:text="${category}" />
			</select>
			<span th:if="${#fields.hasErrors('articleCategory')}" th:errors="*{articleCategory}" class="error" id="articleCategory.errors"></span>
			</div>
			
			<!-- 先用直接輸入會員去測試 -->	
			<div>
			<label>會員名稱:</label>
			<select th:field="*{generalMember.memberID}">
				<option th:each="generalMember : ${generalMemberListData}" th:value="${generalMember.memberID}" th:text="${generalMember.memberName}" />
			</select>
			<span th:if="${#fields.hasErrors('generalMember.memberID')}" th:errors="*{generalMember.memberID}" class="error" id="generalMember.memberID.errors"></span>
			</div>
			

			
			<div>
			<label>文章標題:</label>
			<input type="text" th:field="*{articleTitle}" onclick="hideContent('articleTitle.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('articleTitle')}" th:errors="*{articleTitle}" class="error" id="articleTitle.errors"></span>
			</div>
			
			<div>
			<label>文章內容:</label>
			<input type="text" th:field="*{articleContent}" onclick="hideContent('articleContent.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('articleContent')}" th:errors="*{articleContent}" class="error" id="articleContent.errors"></span>
			</div>
			
			
			<div>
			    <label>文章圖片:</label>
			    <input type="file" id="articlePic" name="articlePic" multiple="multiple" accept="image/*" onchange="previewImage(this)" />
			    <span class="error" th:text="${warningMessage}" id="articlePic.errors"></span>
			    <div id="blob_holder"></div>
			</div>
			
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出新增 </button></div>
				<div></div>
			</div>		
		</form>
	
	</div>


<!-- JavaScript part -->
<script type="text/javascript">
// 清除提示信息
function hideContent(d) {
    document.getElementById(d).style.display = "none";
}

// 照片上傳-預覽用
var filereader_support = typeof FileReader != 'undefined';
if (!filereader_support) {
    alert("No FileReader support");
}

var acceptedTypes = {
    'image/png': true,
    'image/jpeg': true,
    'image/gif': true
};

function previewImage(input) {
    var blob_holder = document.getElementById('blob_holder');
    blob_holder.innerHTML = ''; // 清空預覽區域

    var files = input.files;
    for (var i = 0; i < files.length; i++) {
        previewfile(files[i])
    }
}

function previewfile(file) {
    var blob_holder = document.getElementById('blob_holder');
    if (filereader_support === true && acceptedTypes[file.type] === true) {
        var reader = new FileReader();
        reader.onload = function(event) {
            var image = new Image();
            image.src = event.target.result;
            image.width = 100;
            image.height = 75;
            image.style.margin = '5px';
            image.border = 2;
            blob_holder.appendChild(image);
        };
        reader.readAsDataURL(file);
        document.getElementById('submit').disabled = false;
    } else {
        var errorDiv = document.createElement('div');
        errorDiv.innerHTML = "<div style='text-align: left;'>" + "● filename: " + file.name
            + "<br>" + "● ContentType: " + file.type
            + "<br>" + "● size: " + file.size + "bytes"
            + "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
        blob_holder.appendChild(errorDiv);
        document.getElementById('submit').disabled = true;
    }
}
</script>

</body>
</html>