<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>員工資料 - listOneEmp.html</title>
<head th:insert="~{/front-end/announcement-news/included-fragment}"></head>
<style type="text/css">
span {
	display: inline-block;
	width: 150px;
	text-align: left;
	font-weight: bold;
}
</style>
</head>
<body>
	<!--  
	<nav
		class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
	</nav>
-->
	<div align="center">
		<h2>單筆公告資料 - listOneAnnouncement.html</h2>
		<h3>
			<a class="navbar-brand" th:href="@{/announcement/select_page}"><img
				th:src="@{/images/back.gif}" width="44" height="44">回查詢頁<label
				th:text="${success}"></label></a>
		</h3>
	</div>


	<div align="center" th:fragment="listOneAnnouncement-div">
		<!-- 此div被select_page.html第158行insert用 -->
		<h3>
			<span>查詢結果 :</span>
		</h3>
		<span>公告編號:</span><span th:text="${announcement.announcementID}"></span><br />
		<span>公告標題:</span><span th:text="${announcement.announcementTitle}"></span><br />
		<br />
		<span>公告內容:</span><span th:text="${announcement.announcementContent}"></span><br />
		<br />
		<span>狀態:</span><span th:text="${announcement.announcementStatus}"></span><br />
		<span>管理員ID:</span><span th:text="${announcement.administrator.administratorAccount}"></span><br />
		<span>公告時間:</span><span th:text="${#dates.format(announcement.announcementCreateTime, 'yyyy-MM-dd HH:mm:ss')}"></span><br />

	</div>


</body>
</html>